<div class="max-w-md bg-white rounded-2xl shadow-md md:py-4 p-8">
  <!-- Logo / Brand -->
  <div class="flex justify-center mb-6">
    <img src="https://i.pravatar.cc/80?img=10" alt="Lyvra Logo" class="w-16 h-16 rounded-full" />
  </div>

  <h2 class="text-2xl font-bold text-gray-800 text-center mb-4">Login to Lyvra</h2>
  <p class="text-gray-500 text-center mb-6">Your fashion journey starts here</p>

  <!-- Login Form -->
  <form class="space-y-4" (submit)="login()">
    <div>
      <label class="block text-sm font-medium text-gray-600 mb-1">Email or Phone</label>
      <input type="text" name="email" placeholder="you@example.com" [(ngModel)]="emailOrPhone"
        class="w-full border border-gray-300 rounded-lg px-4 py-2 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-rose-500" />
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-600 mb-1">Password</label>
      <input type="password" placeholder="••••••••" name="password" [(ngModel)]="password"
        class="w-full border border-gray-300 rounded-lg px-4 py-2 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-rose-500" />
    </div>

    <!-- Remember Me + Forgot Password -->
    <div class="flex justify-between items-center text-sm text-gray-500">
      <label class="flex items-center gap-2">
        <input type="checkbox" [(ngModel)]="rememberMe" name="remember" class="w-4 h-4 accent-rose-600" />
        Remember me
      </label>
      <a href="#" class="hover:text-rose-600">Forgot Password?</a>
    </div>

    <!-- Error Message -->
    @if (loginError) {
    <p class="text-rose-600 text-sm mt-2">{{ loginError }}</p>
    }

    <!-- Login Button -->
    <button type="submit"
      class="w-full bg-rose-600 cursor-pointer text-white px-4 py-2 rounded-lg hover:bg-rose-700 transition mt-2">
      Login
    </button>
  </form>

  <!-- Divider -->
  <div class="flex items-center my-6">
    <hr class="flex-1 border-gray-300" />
    <span class="px-3 text-gray-400">or</span>
    <hr class="flex-1 border-gray-300" />
  </div>

  <!-- Alternative Login -->
  <div class="flex flex-col gap-3">
    <button
      class="w-full flex items-center justify-center gap-2 border border-gray-300 rounded-lg px-4 py-2 cursor-pointer hover:bg-gray-50 transition">
      <img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Google_Favicon_2025.svg" class="w-5 h-5" />
      Continue with Google
    </button>

    <button
      class="w-full flex items-center justify-center gap-2 border border-gray-300 rounded-lg px-4 py-2 cursor-pointer hover:bg-gray-50 transition">
      <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/2023_Facebook_icon.svg" class="w-5 h-5" />
      Continue with Facebook
    </button>
  </div>

  <!-- Signup Link -->
  <p class="text-gray-500 text-center mt-6">
    Don’t have an account?
    <a routerLink="/auth/signup" class="text-rose-600 font-medium hover:underline">Sign up</a>
  </p>
</div>