<main class="h-full overflow-auto">
  <section #section0 [ngClass]="{'fadeupenter' :sections[0]}">
    <hero-carousel />
  </section>

  <section #section1 [ngClass]="{'fadeupenter' :sections[1]}">
    <home-trending />
  </section>

  <section #section2 [ngClass]="{'fadeupenter' :sections[2]}">
    <home-category />
  </section>

  <section #section3 [ngClass]="{'fadeupenter' :sections[3]}">
    <home-deals />
  </section>

  <section #section4 [ngClass]="{'fadeupenter' :sections[4]}">
    <home-gender />
  </section>

  <section #section5 [ngClass]="{'fadeupenter' :sections[5]}">
    <home-recent />
  </section>


  <!-- Newsletter Section -->
  <section #section6 [ngClass]="{'fadeupenter' :sections[0]}">
    <home-newsletter />
  </section>

</main>