<div class="w-full max-w-md bg-white rounded-2xl shadow-md md:py-4 md:px-8 p-8">
  <!-- Logo / Brand -->
  <div class="flex justify-center mb-6">
    <img src="https://i.pravatar.cc/80?img=10" alt="Lyvra Logo" class="w-16 h-16 rounded-full" />
  </div>

  <h2 class="text-2xl font-bold text-gray-800 text-center mb-4">Create an Account</h2>
  <p class="text-gray-500 text-center mb-6">Start your fashion journey with Lyvra</p>

  @if(formType === "SIGNUP") {
  <!-- Signup Form -->
  <form class="space-y-4" (submit)="signup()">
    <div>
      <label class="block text-sm font-medium text-gray-600 mb-1">Full Name</label>
      <input type="text" placeholder="Name" name="name" [(ngModel)]="fullName"
        class="w-full border border-gray-300 rounded-lg px-4 py-2 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500" />
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-600 mb-1">Email</label>
      <input type="email" placeholder="email@example.com" name="email" [(ngModel)]="email"
        class="w-full border border-gray-300 rounded-lg px-4 py-2 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500" />
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-600 mb-1">Password</label>
      <input type="password" placeholder="••••••••" name="password" [(ngModel)]="password"
        class="w-full border border-gray-300 rounded-lg px-4 py-2 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500" />
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-600 mb-1">Confirm Password</label>
      <input type="password" placeholder="••••••••" name="confirmPassword" [(ngModel)]="confirmPassword"
        class="w-full border border-gray-300 rounded-lg px-4 py-2 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500" />
    </div>

    <!-- Terms Checkbox -->
    <label class="flex items-center gap-2 text-gray-500 text-sm">
      <input type="checkbox" name="agreeTerms" [(ngModel)]="agreeTerms" class="w-4 h-4 accent-indigo-600" />
      I agree to the <a href="#" class="text-indigo-600 hover:underline">Terms & Conditions</a>
    </label>

    <!-- Error Message -->
    @if (signupError) {
    <p class="text-indigo-600 text-sm mt-2">{{ signupError }}</p>
    }
    <!-- Signup Button -->
    <button type="submit"
      class="w-full bg-indigo-600 cursor-pointer text-white px-4 py-2 rounded-lg hover:bg-indigo-700 transition mt-2">
      Sign Up
    </button>
  </form>
  } @else if (formType === "OTP") {

  <!-- Otp form -->
  <form class="space-y-4" (submit)="submitOtp()">
    <div>
      <input type="email" [readOnly]="true" [value]="email"
        class="w-full border border-gray-300 rounded-lg px-4 py-2 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500" />
    </div>

    <div class="flex items-center gap-2">
      <label class="block text-sm font-medium text-gray-600 mb-1">OTP</label>
      <div class="flex flex-wrap justify-center gap-2" id="otpInput">
        @for (ctrl of otpControls; track $index; let i = $index) {
        <input id="otpInput" type="text" inputmode="numeric" maxlength="1" name="{{'otp'+i}}" [(ngModel)]="otp[i]"
          (input)="onInput($event, i)" (keydown)="onKeyDown($event, i)"
          class="border w-10 md:w-12 aspect-square text-center border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" />
        }
      </div>
    </div>

    <!-- OTP Submit Button -->
    <button type="submit"
      class="w-full bg-indigo-600 cursor-pointer text-white px-4 py-2 rounded-lg hover:bg-indigo-700 transition mt-2">
      Register
    </button>
  </form>

  }

  <!-- Bottom link -->
  <p class="text-gray-500 text-center mt-6">
    Already have an account?
    <a routerLink="/auth/login" class="text-indigo-600 font-medium hover:underline">Login</a>
  </p>
</div>